body {
  background: #2c3544;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: white;
}

.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #29323c, #485563, #5c6bc0, #64b5f6);
  background-size: 400% 400%;
  z-index: -1;
  animation: gradientMove 7s ease infinite;
  filter: blur(20px);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.weather-card {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  width: 780px;
  backdrop-filter: blur(10px);
}

.weather-card:hover {
  transform: scale(1.05);
  box-shadow: 0 30px 55px rgba(0, 0, 0, 0.6);
}

.left-card {
  position: relative;
  flex: 0.9;
  background: linear-gradient(180deg, rgba(67, 169, 246, 0.8), #29323c);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease;
  overflow: hidden;
}

.left-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/dark-denim-3.png');
  opacity: 0.2;
  animation: moveWaves 15s linear infinite;
}

@keyframes moveWaves {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.right-card {
  flex: 1.1;
  background-color: rgba(31, 37, 49, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast .day {
  background-color: rgba(44, 53, 68, 0.9);
  border-radius: 12px;
  padding: 12px;
  width: 65px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.forecast .day:hover {
  background-color: rgba(57, 68, 86, 1);
  transform: translateY(-13px) scale(1.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.forecast .day.active {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Button */
.btn-gradient {
  background: linear-gradient(90deg, #64b5f6, #5c6bc0);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  transform: translateY(-4px);
  opacity: 0.95;
  box-shadow: 0px 8px 22px #5c6bc0;
}

/* Search bar */
.search-container {
  position: relative;
  /* top: 40px; */
  left: 50%;
  transform: translateX(-50%);
  /* display: flex; */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 5px 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.search-container:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}

.search-container input {
  background: transparent;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  padding: 10px 15px;
  width: 260px;
  text-transform: uppercase;
}

.search-container input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.search-container button {
  margin-left: 50px;
  background: linear-gradient(90deg, #64b5f6, #5c6bc0);
  border: none;
  border-radius: 50%;
  color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.search-container button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .weather-card {
    flex-direction: column;
    width: 90%;
  }

}